/* common shared style */

body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: rgba(253, 110, 10, 1);
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding : 15px 30px;

}

/* nav releted styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-t {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}


nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 51px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header releted styles */
.header {
    /* background: #FFF8F3; */
    background: skyblue;
}

.banner {
    padding: 30px 30px 30px 140px;
    display: flex;
    align-items: center;
}

.banner .picture {
    width: 500px;
}